 
<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">

<div class="container mt-4">

    <h3>Edit Your Listing</h3>

    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" 
        novalidate
        class="needs-validation"
        enctype="multipart/form-data">

        <!-- Title -->
        <div class="mb-3">
            <label for="title" class="form-label">
                Title
            </label>

            <input 
                name="listing[title]"
                id="title"
                value="<%= listing.title %>"
                type="text"
                class="form-control"
                required
            />
            <div class="invalid-feedback">Enter a valid Title</div>
        </div>

        <!-- Description -->
        <div class="mb-3">
            <label for="description" class="form-label">
                Description
            </label>

            <textarea 
                name="listing[description]"
                id="description"
                class="form-control"
                rows="4"
                  required  ><%= listing.description %>
      </textarea>
<div class="invalid-feedback">Description is required</div>
        </div>

        <!-- Image URL -->
         <div class="mb-3">
            Original Listing Image <br/>
            <img src=" <%= originalImageUrl%>"/>
         </div>

        <div class="mb-3">
            <label for="image" class="form-label">
                Image URL
            </label>

            <input 
            type="file"
            name="listing[image]"
             class="form-control"
            />
        </div>
 <!-- Price -->
  <div class="row">
    
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">
                Price
            </label>

            <input 
                name="listing[price]"
                id="price"
                value="<%= listing.price %>"
                type="number"
                class="form-control"
                required
            />
            <div class="invalid-feedback">Price is a valid number</div>
        </div>

        <!-- Country -->
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">
                Country
            </label>

            <input 
                name="listing[country]"
                id="country"
                value="<%= listing.country %>"
                type="text"
                class="form-control"
                  required
            />
            <div class="invalid-feedback">Country name should be valid</div>
        </div>

        </div>
       
        <!-- Location -->
        <div class="mb-3">
            <label for="location" class="form-label">
                Location
            </label>

            <input 
                name="listing[location]"
                id="location"
                value="<%= listing.location %>"
                type="text"
                class="form-control"
                  required
            />
        </div>

        <!-- Button -->
        <button class="btn btn-dark edit-btn mt-3">
            Edit Listing
        </button>

    </form>

</div>
